body {
    background-color: #000;
    margin: 0px;
}
#container canvas{
    width: 100%;
}
#screenTimerContainer{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 4px;
    color: white;
    background-color: black;
    min-width: 20px;
    height: 20px;
    text-align: right;
}
#resultContainer{
    display: none;
    position: absolute;
    top: 40%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 300px;
    padding: 8px;
    background: #BC1C48;
    color: white;
    font-size: 26px;
    text-align: center;
}
#resultValue{
    font-weight: bold;
}
#resultContainer a{
    font-size: 80%;
    color: powderblue;
    text-decoration: underline;
}
#stuck{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 4px;
    color: white;
    background-color: black;
    text-align: right;
}
#hint{
    position: absolute;
    top: 0;
    left: 90px;
    padding: 4px;
    color: white;
    background-color: black;
    text-align: right;
    font-style: italic;
}
.result{
    display: none;
    font-size: 120%;
    font-weight: bold;
}
#result-gold{
    color: gold;
}
#result-silver{
    color: silver;
}
#result-bronze{
    color: sienna;
}